<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Search For People
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Search For People</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-item>
    <ion-label position="floating">Search for a person</ion-label>
    <ion-input [(ngModel)]="search" (ngModelChange)="onSearch($event)"></ion-input>
  </ion-item>

  <ion-accordion-group class="people-list">
    <app-person *ngFor="let person of people" [person]="person" (onGiveBack)="giveBack($event)"></app-person>
  </ion-accordion-group>
</ion-content>
