<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Add People
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Add People</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-item>
    <ion-label position="floating">Name</ion-label>
    <ion-input [(ngModel)]="name"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Amount Given</ion-label>
    <ion-input type="number" [(ngModel)]="amountGiven"></ion-input>
  </ion-item>

  <ion-button (click)="onAddPerson()" expand="block">
    Add
  </ion-button>
</ion-content>
