<ion-accordion *ngIf="person !== undefined" value="{{person.id}}" toggleIcon="cash-outline">
  <ion-item (click)="onExpand()" slot="header" color="light" [ngClass]="{'paid': person.givenBack}">
    <ion-label class="label"><span>{{person.name}}</span><span>{{person.gifted | currency:'VND'}}</span></ion-label>
  </ion-item>
  <div class="ion-padding give-back" slot="content">
      <ion-input placeholder="Amount given back" #input type="number" [(ngModel)]="givenBack"></ion-input>
      <ion-button (click)="onGiveBackClick()">
        Give Back </ion-button>
  </div>
</ion-accordion>
